{% load static %}
{% include 'layout/header.html' %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPTS - 轻量化渗透测试系统</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .jumbotron p, .caption p {
            font-size:
                    2em; /* 调整字体大小 */
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>LPTS</h1>
        <p>轻量化渗透测试系统，包含中间件漏洞检测、目录识别、端口扫描、指纹识别、信息泄露检测</p>
        <p>
            <a href="#" class="btn btn-primary btn-lg" role="button">
                关于我们
            </a>
        </p>
    </div>
</div>

<section id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>漏洞检测</h1>
                        <p></p>
                        <button class="btn btn-primary jump-button" data-href="http://127.0.0.1:8080/vuln_scan_index">开始检测</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>资产收集</h1>
                        <p></p>

                        <button class="btn btn-primary jump-button" data-href="http://127.0.0.1:8080/InfoCollect/subdomain_index/">开始收集目标资产</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>信息收集</h1>
                        <p></p>
                         <button class="btn btn-primary jump-button" data-href="http://127.0.0.1:8080/InfoCollect/infocomprehensivecollect/">开始收集目标信息</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'layout/footer.html' %}
<!-- 引入 Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(document).on('click', '.jump-button', function() {
      var $btn = $(this).button('loading');
      var href = $(this).data('href');
      setTimeout(function () {
        window.location.href = href;
        $btn.button('reset');
      }, 1000);
    });
  </script>
</body>
</html>