<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">LPTS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'vulnscan:vuln_scan_index' %}">漏洞扫描</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        资产收集 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                        <li><a href="{% url 'InfoCollect:sideline_index' %}">旁站探测</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'InfoCollect:webweight_index' %}">网站权重</a></li>
                        <li class="divider"></li>


                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        信息收集 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'dir-search' %}">目录扫描</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'InfoCollect:port_scan_index' %}">端口扫描</a></li>
                        <li><a href="{% url 'InfoCollect:CMS_index' %}">指纹识别</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'InfoCollect:webweight_index' %}">网站权重</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'InfoCollect:infoleak_index' %}">信息泄露</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link text-light" href="{% url 'users:user_info' %}" target="_blank">
                        <strong>{{ request.user.username }}</strong>
                    </a>
                </li>
                <li class="nav-item" style="margin-right: 1px;">
                    <a href="{% url 'users:logout' %}" class="nav-link text-light">退出</a>
                </li>
                {% else %}
                <li class="nav-item" >
                    <a class="nav-link text-light" href="{% url 'users:register' %}" target="_blank">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'users:login' %}" target="_blank">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>